@model DateTime
@{
    //Layout = null;
    ViewBag.Title = "Index";
}

@helper ListingItems(params string[] items) {

    <ol>
        @foreach(var item in items){
<li>@item</li>
        }
    </ol>
}

<h2>Linguagens de programação</h2>
@ListingItems("C", "C++", "C#", "F#")
<h2>Lista de livros</h2>
@ListingItems("C for Dummies", "C++ for Dummies", "C# for Dummies", "F# for Dummies")