@model IEnumerable<Treinamento_Benner.Models.Album>
@using Treinamento_Benner.Helpers
@{
    ViewBag.Title = "Search";
}


<div class="col-xs-12">
    <h1>Albúm - Busca @Html.LinkVoltar("Voltar")</h1>
    <hr />
    <div class="row" style="max-width:400px">
        <div class="col-xs-12">
            <form action="/Album/Search">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" />
                    <span class="input-group-btn">
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    </span>
                </div>
                
            </form>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr>
                    <th>Artista</th>
                    <th>Título</th>
                    <th>Valor</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Artista.Nome</td>
                        <td>@item.Titulo</td>
                        <td>@item.Valor</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>